.creator-card {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border: 1.3px solid rgb(181, 223, 225);;
    display: flex;
    flex-wrap: nowrap;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background 0.4s;
}

.creator-card:hover {
    background-color: rgb(181, 223, 225);
}

.c-rank
{
    font-size: 17px;
    color: rgba(65, 65, 65, 0.746);
}

.creator-block
{
    display: flex;
    padding: 40px;
    padding-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.c-img
{
    height: 200px;
    width: 200px;
    background-color: azure;
    margin-bottom: 20px;
    border-radius: 15px;
}

.c-header {
    text-align: start;
    color: rgb(79, 85, 170);
    font-weight: 600;
}

.cr-text
{
    text-align: start;
    color: rgb(63, 60, 60);
    word-wrap: break-word;
    height: 100%;
}

#year {
    color: rgb(77, 144, 65);
}