.navbar-nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 41px;

}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid black;
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  a {
    font-size: 15px;
}
}